* {
  box-sizing: border-box;
}

html {
  overflow: hidden;
  height: auto !important;
}

body {
  font-family: "Baloo Tammudu 2", cursive;
  overflow: hidden;
  background-color: white;
}

.content {
  width: 100vw;
  height: 100vh;
}

.cosmo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cosmo__pic {
  width: 50vw;
  height: 50vw;
  background: url("./img/bg.jpg") center / contain no-repeat;
  transform-origin: center center;
  transition: all 1s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  &_small {
    cursor: none;
    transform: scale(0.3);
    filter: blur(10px) opacity(0.4);
  }
}

.cosmo__man {
  width: 80%;
  height: 80%;
}

.cosmo__icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  display: flex;
  width: 50vmax;
  flex-wrap: wrap;
  opacity: 0;
  transition: all 1s 0.5s;
  pointer-events: none;

  &_active {
    opacity: 1;
    pointer-events: all;
  }
}

.icon {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  justify-content: flex-start;
  width: 50%;
  flex-grow: 1;
  flex-shrink: 0;
  text-decoration: none;
  color: black;
}

.icon__pic {
  width: 5vmax;
  height: 5vmax;
  min-width: 30px;
  min-height: 30px;
  margin-bottom: 1rem;
  margin-right: 1rem;

  &_apple {
    background: url("./img/icons/apple.svg") 0 0 / contain no-repeat;
  }
  &_spotify {
    background: url("./img/icons/spotify.svg") 0 0 / contain no-repeat;
  }
  &_yandex {
    background: url("./img/icons/yandex.svg") 0 0 / contain no-repeat;
  }
  &_youtube-music {
    background: url("./img/icons/youtube-music.svg") 0 0 / contain no-repeat;
  }
  &_youtube {
    background: url("./img/icons/youtube.svg") 0 0 / contain no-repeat;
  }
}
