* {
  box-sizing: border-box;
}

html {
  overflow: hidden;
  height: auto !important;
}

body {
  font-family: "Baloo Tammudu 2", cursive;
  overflow: hidden;
  background-color: white;
}

.content {
  width: 100vw;
  height: 100vh;
}

.special {
  filter: blur(10px);
  transition: all 1s;
  &_active {
    filter: blur(10px) opacity(0.1);
  }
}

.cosmo {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cosmo__pic {
  width: 90vw;
  height: 90vw;
  background: url("./img/bg.png") center / contain no-repeat;
  transform-origin: center center;
  transition: all 1s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  &_small {
    cursor: none;
    transform: scale(0.3);
    filter: blur(10px) opacity(0.1);
  }
}

.cosmo__man {
  display: flex;
  justify-content: center;
  width: 70%;
  height: 70%;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  opacity: 0;
  transition: all 1s 0.5s;
  pointer-events: none;
  padding: 30px;
  width: 100%;

  &_active {
    opacity: 1;
    pointer-events: all;
  }
}

.popup__title {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  margin-bottom: 2rem;
}

.cosmo__icons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.icon {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  justify-content: flex-start;
  width: 50%;
  flex-grow: 1;
  flex-shrink: 0;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid darkgrey;
}

.icon__pic {
  width: 5vmax;
  height: 5vmax;
  min-width: 30px;
  min-height: 30px;
  /* margin-bottom: 1rem; */
  margin-right: 1rem;
  flex-shrink: 0;

  &_apple {
    background: url("./img/icons/apple.svg") 0 0 / contain no-repeat;
  }
  &_spotify {
    background: url("./img/icons/spotify.svg") 0 0 / contain no-repeat;
  }
  &_yandex {
    background: url("./img/icons/yandex.svg") 0 0 / contain no-repeat;
  }
  &_youtube-music {
    background: url("./img/icons/youtube-music.svg") 0 0 / contain no-repeat;
  }
  &_youtube {
    background: url("./img/icons/youtube.svg") 0 0 / contain no-repeat;
  }
  &_vk {
    background: url("./img/icons/vk.svg") 0 0 / contain no-repeat;
  }
}

.cursor-wrapper {
  animation: fadeIn 1s 1s both;
}

.cursor {
  opacity: 0.3;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  width: 40px;
  height: 40px;
  transition: all 1s;
  background: url("./img/click.svg") 0 0 / contain no-repeat;
  &_active {
    opacity: 0;
  }
}

@media (min-width: 768px) {
  .cosmo__pic {
    width: 50vw;
    height: 50vw;
  }
  .cosmo__icons {
    max-width: 35vmax;
    width: auto;
    /* margin-right: -3rem; */
  }
  .popup__title {
    font-size: 25px;
  }
}

@media (max-height: 390px) and (orientation: landscape) {
  .cosmo__pic {
    width: 70vw;
    height: 70vw;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
